/* 
* Fonte Padrão
* 
* Stylesheet.css
* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
*	
* header.php
* <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
* 
*/
/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "AvenirB";
    src: url("../fontes/AvenirNextLTPro-Bold.ttf") format("truetype"),
        url("../fontes/AvenirNextLTPro-Bold.woff") format("woff"),
        url("../fontes/AvenirNextLTPro-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "AvenirM";
    src: url("../fontes/AvenirNextLTPro-MediumCn.ttf") format("truetype"),
        url("../fontes/AvenirNextLTPro-MediumCn.woff") format("woff"),
        url("../fontes/AvenirNextLTPro-MediumCn.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "AvenirR";
    src: url("../fontes/AvenirNextLTPro-Regular.ttf") format("truetype"),
        url("../fontes/AvenirNextLTPro-Regular.woff") format("woff"),
        url("../fontes/AvenirNextLTPro-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
/*Principais
-------------------------------------------------------------- */
body {
    -webkit-font-smoothing: auto;
    color: #000;
    font-family: "AvenirR", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 300; /*background: #E5E5E5;*/
    overflow-x: hidden;
}
h1 {
    font-family: "AvenirR", sans-serif;
    font-size: 34px;
    color: #000;
}
h2 {
    font-family: "AvenirR", sans-serif;
    font-size: 26px;
    color: #000;
}
h3 {
    font-family: "AvenirM", sans-serif;
    font-size: 22px;
    color: #000;
}
h4 {
    font-family: "AvenirB", sans-serif;
    font-size: 20px;
    color: #000;
}
h5 {
    font-family: "AvenirR", sans-serif;
    font-size: 18px;
    color: #000;
}
h6 {
    font-family: "AvenirR", sans-serif;
    font-size: 14px;
    color: #000;
}
p {
    color: #000;
    font-family: "AvenirR", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;
}
a {
    color: #000;
    font-family: "AvenirR", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
* a:hover,
a:hover {
    color: #000;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:focus,
*:focus {
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
button {
    cursor: pointer;
}

/* WordPress Core 
/---------------------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 15px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.nopadding {
    padding: 0;
}
.nomargin {
    margin: 0;
}
/* ThemePart
/---------------------------------------------------------------------------- */
.arqImgFit {
    object-fit: cover;
}

/* ThemePart
/---------------------------------------------------------------------------- */
.table td {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.table th {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Header
/---------------------------------------------------------------------------- */
header {
    position: sticky;
    top: 0;
    z-index: 9999;
    right: 0;
    left: 0;
}
.header-desktop {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.box-menu-header li {
    list-style-type: none;
    margin-right: 15px;
}
.box-menu-header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px;
}

.box_login {
    position: absolute;
    top: 60px;
    background: #ffffff;
    right: 0;
    z-index: 999;
    padding: 10px 15px;
    border-radius: 0 0 0 5px;
    z-index: 99999;
}
.box_login input {
    border: none;
    border-bottom: 0.6px solid #0d4093;
    margin: 0 5px;
}
.box_login button {
    background: transparent;
    border: none;
}
.box_login button i {
    color: #0d4093;
}
.box_login i {
    color: #0d4093;
}
.bg_header {
    background-color: #ffffff;
    z-index: 999999;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    transition: 0.8s;
    padding: 10px 0;
}

.bg_header_single {
    background: transparent;
    z-index: 999999;
    margin-bottom: -89px;
}
.bg_header_single button {
    filter: brightness(100);
}
.bg_header_single img {
    filter: brightness(100);
}
.bg_header_single i {
    filter: brightness(100);
}
.bg_header_single span {
    background: transparent;
    border: 1px solid #ffffff;
}
.bg_header i {
    font-weight: 600;
}
.btn_header_menu i {
    color: #0d4093;
    font-size: 25px;
}

.box_social_header {
    margin: 17px 20px;
    padding: 0;
    display: flex;
    align-items: center;
}
.box_social_header li {
    list-style: none;
    margin: 0 5px;
}
.box_social_header li i {
    color: #0d4093;
    font-size: 20px;
}
.btn_associe_header {
    margin-left: 10px;
    padding: 5px 30px;
    background-color: #0d4093;
    color: #ffffff;
}

.box_menu_header {
    position: fixed;
    width: 300px;
    z-index: 10;
    top: 85px;
    margin-left: -15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.logomarca{
    display: block;
    float: right;
}

.logomarca img{
    height:60px;
}

.box_menu_header .navbar-nav {
    background-color: #0d4093;
}
.box_menu_header ul {
    padding: 20px 15px;
}

.box_menu_header .um-misc-ul {
    padding: 10px 15px;
}

.box_menu_header .um-misc-ul a {
    color: #0d4093;
    font-weight: 600;
}

.box_menu_header ul {
    padding: 10px 15px;
}
.box_menu_header ul li a {
    font-family: "Libre Franklin", sans-serif;
    width: 100%;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 153.7%;
    color: #ffffff;
    cursor: pointer;
}
.box_menu_header ul li i {
    float: right;
    margin-top: 7px;
}
.box_menu_header ul li {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 5px 0;
    color: #fff;
}
#searchform {
}

.form-control{
    width: 105%;
}

.navbar-toggle{
    padding: 0;
}

.box_login_menu_header {
    width: 300px;
    top: 2px;
    right: 0px;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    padding: 20px 15px 30px;
}

.btn_midia{
    left: 60px;
}

.btn_header_menu{
    right: 18px;
}

.btn_pesquisa_menu{
    margin-right: 26px;
    margin-left: -31px;
}

.btn_login_header{
    background-color: #0D4093;
    margin-left: 10px;
    height: 36px;
}

.botoes{
    left: 57px;
    top: 10px;
}

.box_acesso_restito{
    margin-left: 100px;
}

.box_login_menu_header .um-col-alt-b {
    padding-top: 0;
}

.box_login_menu_header .bem-vindo {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #0d4093;
    text-align: left;
}

.um-form .um-col-alt-b{
    display: none;
}

.um-form .um-half{
    display: none;
}

.box_login_menu_header .botao-sair {
    background: #0d4093;
    border-radius: 70px;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
}

.box_login_menu_header .botao-sair i {
    margin-left: 10px;
    font-size: 22px;
}

.dropdown:hover .box_login_menu_header{
    display: block;
}

.btn_associe_header i {
    margin-left: 10px;
}

.box_login_menu_header input {
    border: none;
    border-bottom: 0.6px solid #0d4093;
    width: 100%;
}
.box_login_menu_header input:placeholder {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.4);
}
.box_login_menu_header a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0d4093;
    width: 50%;
    margin-top: 10px;
    cursor: pointer;
}
.box_login_menu_header button {
    color: #ffffff;
    background: #0d4093;
    border-radius: 70px;
    padding: 5px 30px;
    margin: 10px 0 0 0;
}
.modal-dialog {
    /*max-width: 540px;*/
    z-index: 999999;
    margin: 10% auto 0;
}
.modal {
    z-index: 999999;
}
.box_modal_login {
    padding: 25px 20px;
}
.box_modal_login h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 66px;
    color: #12316f;
}
.box_modal_login p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 121.5%;
    color: #171717;
}
.box_modal_login input {
    border: none;
    background: #ededed;
    border-radius: 6px;
    margin: 0 0 10px 0;
}
.box_modal_login input:hover {
    background: #ededed !important;
}
.box_modal_login .btn_form_login {
    border: none;
    background: #0d4093;
    border-radius: 70px;
    padding: 5px 30px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
}
.close span {
    font-size: 40px;
}

.um-field-error {
    padding: 2px 10px !important;
    font-size: 12px !important;
    line-height: 12px !important;
}

/* -------- Form login modal --------- */

#modalRecuperaSenha .um-field.um-field-block.um-field-type_block {
    display: none;
}
.modal .um-center input[type="submit"].um-button,
.modal .um-col-alt input[type="submit"].um-button {
    border: none !important;
    background: #0d4093 !important;
    border-radius: 70px !important;
    padding: 5px 30px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    color: #fff !important;
}

.modal .um-field-area input[type="text"],
.modal .um-form input[type="password"] {
    border: none !important;
    background: #ededed !important;
    border-radius: 6px !important;
    margin: 0 0 10px !important;
}

.modal .um-col-alt .um-right {
    display: none;
}

.modal .um-col-alt .um-left {
    float: none !important;
    display: block !important;
    margin: auto !important;
}

/* -------- Form login sub-menu --------- */

.box_login .um {
    margin-bottom: 0 !important;
}

.box_login p.um-notice.err {
    display: none;
}

.box_login_menu_header p.um-notice.err {
    display: none;
}

.box_login .um-row {
    margin-bottom: 0 !important;
}

.box_login_menu_header .um .um-form input[type="text"],
.box_login_menu_header .um .um-form input[type="password"] {
    border: none !important;
    border-bottom: 1px solid #0d4093 !important;
    background: transparent;
}

.box_login_menu_header .um .um-form input[type="text"]::placeholder,
.box_login_menu_header .um .um-form input[type="password"]::placeholder {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.4);
    text-transform: capitalize;
}

.box_login_menu_header .um .um-form input[type="text"]:focus,
.box_login_menu_header .um .um-form input[type="password"]:focus {
    border: none !important;
}

.box_login_menu_header .um-field-icon i {
    color: #0d4093 !important;
}

.box_login_menu_header .um .um-form .um-field-checkbox {
    display: none;
}

.box_login_menu_header .um .um-form input[type="submit"] {
    background: #0d4093;
    border-radius: 70px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px !important;
    color: #ffffff;
    margin: 0 auto;
    width: 60%;
    padding: 6px !important;
}

.box_login_menu_header .um .um-form input[type="submit"]:hover {
    opacity: 0.9;
    background: #0d4093;
}

.box_login_menu_header .um .um-button.um-alt {
    background: transparent;
    box-shadow: none;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px;
    line-height: 16px !important;
    color: #0d4093;
    margin-top: 0;
    padding-top: 0 !important;
}

.box_login_menu_header .um .um-button.um-alt:hover {
    text-decoration: underline !important;
}

.box_login_menu_header .um .um-button.um-alt:hover {
    opacity: 0.9;
    background-color: transparent;
}

.box_login_menu_header .um-right.um-half {
    float: right;
    width: 47%;
    margin: 0;
    margin-right: -18px;
    margin-top: -5px;
}

.box_login_menu_header .um-col-alt .um-clear {
    clear: unset;
}

.box_login_menu_header a.um-link-alt {
    background: transparent;
    box-shadow: none;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px;
    line-height: 16px !important;
    color: #0d4093 !important;
    margin: 0;
    width: 150px;
}

/* -------- Form login menu --------- */

.box_login .um .um-form input[type="text"],
.box_login .um .um-form input[type="password"] {
    border: none !important;
    border-bottom: 1px solid #0d4093 !important;
    background: transparent;
}

.box_login .um-field {
    display: inline-block;
    margin-right: 10px;
}

.box_login .um .um-form input[type="text"]::placeholder,
.box_login .um .um-form input[type="password"]::placeholder {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.4);
    text-transform: capitalize;
}

.box_login .um .um-form input[type="text"]:focus,
.box_login .um .um-form input[type="password"]:focus {
    border: none !important;
}

.box_login .um-field-icon i {
    color: #0d4093 !important;
    font-size: 30px !important;
}

.box_login .um-field-icon {
    width: 30px !important;
}

.box_login .um .um-form .um-field-checkbox {
    display: none;
}

.box_login .um-right.um-half {
    display: none;
}

.box_login .um-col-alt-b {
    display: none;
}

.box_login .um-col-131 {
    display: inline-flex;
    width: 90% !important;
}

.box_login .um-col-131 > div {
    width: 50%;
    margin-left: 10px;
}

.box_login form {
    display: inline-flex;
}

.box_login .um .um-form input[type="submit"] {
    color: #0d4093;
    background: 0 0 !important;
    position: absolute;
    right: 20px;
    font-size: 30px;
    width: 35px;
    padding: 0 !important;
    top: 35px;
}

/* Fancybox
/---------------------------------------------------------------------------- */
.box-galeria-fancy {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.box-galeria-fancy a {
    width: 20%;
    margin: auto;
}

/* Carousel
/---------------------------------------------------------------------------- */
#carouselExample .carousel-control-prev .arrow-left {
    height: 30px;
}
#carouselExample .carousel-control-next .arrow-right {
    height: 30px;
}
#carouselExample .bg-carousel {
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* SlickSlider
/---------------------------------------------------------------------------- */
#slidBg {
    height: 400px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.box-arrow-slider {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.box-arrow-slider .arrow-slider {
    position: absolute;
    height: 30px;
    z-index: 100;
    cursor: pointer;
}
.box-arrow-slider.arrow-left {
    left: 0px;
}
.box-arrow-slider .arrow-right {
    right: 0px;
}
.img-content-slick {
    width: 100%;
}
.conteudo-slick {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
    min-height: 250px;
}
.slick-center .box_slide_conselho img {
    margin: 0 auto;
}
/* Mapa
/---------------------------------------------------------------------------- */
#map-canvas {
    height: 300px;
}

/* Pagina Home
/---------------------------------------------------------------------------- */

/* Anuncio */
#sec_anuncio {
    padding: 50px 0;
}
/* ver mais */
.box_vermais a {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #183f8c;
}
.box_vermais button {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #183f8c;
    background: transparent;
}
.box_vermais {
    padding-top: 40px;
    padding-bottom: 40px;
}
/*BANNER*/
.sec_banner {
    padding: 0 0 40px 0;
    height: 500px;
}
.sec_banner h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 121.5%;
    color: #ffffff;
    z-index: 11;
    padding: 15px;
    width: auto;
}
.sec_banner p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.5%;
    color: #12316f;
    z-index: 11;
    background-color: #ffffff;
    padding: 15px;
}
.sec_banner button {
    background: #0d4093;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 30px;
    z-index: 11;
}
.pelicula_banner {
    position: absolute;
    top: 0;
    background: linear-gradient(
        115.92deg,
        rgba(24, 63, 140, 0.015) -15.76%,
        rgba(24, 63, 140, 0.5) -15.75%,
        rgba(255, 255, 255, 0) 103.22%
    );
    height: 470px;
    width: 100%;
}
.box_banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 470px;
    padding: 100px 0;
    border-bottom: 4px solid #0d4093;
}
.carousel-indicators .active {
    background-color: #0d4093;
}
.carousel-indicators li {
    border-radius: 50%;
    border: 2px solid #0d4093;
    max-width: 15px;
    min-height: 15px;
    opacity: unset;
}
.carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}
/*NOTÍCIAS*/
#sec_noticias {
    padding: 40px 0 100px;
}
#sec_noticias h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #12316f;
}
#sec_noticias h3 {
    margin: 20px 0 0;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    padding: 15px;
    background-color: #fff;
    color: #0d4093;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

#sec_noticias h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #0d4093;
}
#sec_noticias span {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 20px;
    color: #ffffff;
    background: #ff8a00;
    padding: 5px 30px;
}
.box_dest_noticia { 
    height: 500px;
    padding: 330px 30px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.box_dados {
    padding: 0;
    margin: 0;
}
.box_dados li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    list-style: none;
    margin: 0 20px 0 0;
}
.box_noticias_lateral p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #183f8c;
}
.box_news_lateral {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    padding: 50px 0;
}

/*CONVENIOS E BENEFICIOS*/
.box_conv_benef {
    background: #ffffff;
    border: 3px solid rgba(13, 64, 147, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 40px 20px;
    max-height: 480px;
    margin-bottom: 15px;
}
.box_img_conv_benef {
    background: #ffffff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 15px;
    width: 120px;
    height: auto;
    margin: 0 auto 40px;
}
.box_img_conv_benef img {
    width: 100%;
    height: auto;
}
.box_conv_benef h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #12316f;
}
.box_conv_benef p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #12316f;
}
/*#sec_conv_benef{
	padding: 40px 0;
}*/
#sec_conv_benef h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #12316f;
}
/*FOTOS*/
/*#sec_fotos{
	padding-bottom: 100px;
}*/
#sec_fotos h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #12316f;
}
/*#container_fotos_home{
	display: table;
}*/
.box_img_home_fotos {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 5px;
}
.box_img_home_fotos img {
    width: 100%;
    height: 100%;
}
/* Página Sobre
----------------------------------------------------------------------------- */
#sec_sobre {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #12316f;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#sec_sobre h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #12316f;
}
#sec_sobre p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 121.5%;
    color: #183f8c;
}
.box_sobre {
    background: #ffffff;
    border-radius: 15px;
    padding: 50px 50px 40px;
}
/* Páginas Fotos
----------------------------------------------------------------------------- */
#sec_top_fotos {
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sec_top_fotos h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #ffffff;
}

#sec_fotos_fotos {
    padding: 40px 0 100px 0;
}
#sec_fotos_fotos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: 200px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.box_img_fotos {
    padding: 0 0 15px 0;
    text-align: center;
}
.box_img_fotos span {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #183f8c;
}
.box_img_fotos h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.5%;
    color: #000000;
    text-align: left;
}

/* Página Artigos
----------------------------------------------------------------------------- */
#sec_top_artigos {
    padding: 80px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sec_top_artigos h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #ffffff;
}
#sec_artigos_artigos {
    padding: 40px 0 100px 0;
}
/* Página Publicações
----------------------------------------------------------------------------- */
#sec_top_publicacoes {
    padding: 100px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sec_top_publicacoes h1 {
    font-style: normal;
    font-weight: 600; 
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #ffffff;
}
#sec_publicacoes_publicacoes {
    padding: 40px 0 100px 0;
}
/* Página Single Publicações
----------------------------------------------------------------------------- */
#sec_single_publicações {
    padding: 80px 0 40px 0;
}
#sec_single_publicações h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #12316f;
}
#sec_single_publicações p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #12316f;
}
#sec_single_publicações a {
    padding: 5px 40px;
    border: 0;
    background: #1855b8;
    border-radius: 54px;
    cursor: pointer;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}
.wpusb-square-plus .wpusb-share a{
    background-color: transparent; 
    box-shadow: none;
}
.wpusb-square-plus .wpusb-share a:hover{
    background-color: transparent; 
    box-shadow: none;
}
.wpusb-square-plus .wpusb-inside .wpusb-link{
    padding: 0;
}

/* Página Vídeos
----------------------------------------------------------------------------- */
#sec_top_videos {
    padding: 80px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sec_top_videos h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #ffffff;
}
#sec_videos_videos {
    padding: 40px 0 100px 0;
}
/* Página Single Videos
----------------------------------------------------------------------------- */
#sec_single_videos {
    padding: 50px 0 40px 0;
}
#sec_single_videos h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #0d4093;
}
#sec_single_videos h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #0d4093;
}
/* Página Espaço literário
----------------------------------------------------------------------------- */
#sec_top_literarios {
    padding: 80px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sec_top_literarios h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #ffffff;
}
#sec_literarios_literarios {
    padding: 40px 0 100px 0;
}
/* Página Single Literários
----------------------------------------------------------------------------- */
#sec_single_literarios {
    padding: 50px 0 40px 0;
}
#sec_single_literarios h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #0d4093;
}
/* Página Balanço Patrimonial
----------------------------------------------------------------------------- */
#sec_top_patrimoniais {
    padding: 80px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#sec_top_patrimoniais h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #ffffff;
}
#sec_patrimoniais_patrimoniais {
    padding: 40px 0 100px 0;
}
/* Eternos colegas
----------------------------------------------------------------------------- */
#sec_top_colegas {
    padding: 80px 0;
}
#sec_top_colegas h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
}

#sec_colegas_colegas {
    padding: 40px 0;
}

#sec_colegas_colegas table tbody tr td {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #484848;
}
/* Ex presidentes
----------------------------------------------------------------------------- */
#sec_top_expresidentes {
    padding: 80px 0;
}
#sec_top_expresidentes h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
}

#sec_expresidentes_expresidentes {
    padding: 40px 0;
}
#sec_expresidentes_expresidentes table thead tr th {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #484848;
    text-align: center;
}
#sec_expresidentes_expresidentes table tbody tr td {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #484848;
    text-align: center;
}
/* Página Eventos
----------------------------------------------------------------------------- */
#sec_eventos_eventos {
    padding: 80px 0;
}

#sec_eventos_eventos h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 121.5%;
    text-align: center;
    color: #183f8c;
    margin-bottom: 50px;
}
#sec_eventos_eventos h2 {
    color: #434343;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    width: 100%;
}

#sec_eventos_eventos .breve_resumo {
    color: #434343;
    font-size: 20px;
    margin: 0;
}
.box_dia_evento {
    color: #434343;
    font-size: 60px;
    font-weight: 800;
    margin: 0;
}
.box_mes_evento {
    color: #434343;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
}
/* Página Conselho
----------------------------------------------------------------------------- */
#sec_top_conselho {
    padding: 80px 0;
}
#sec_top_conselho h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #ffffff;
}
/*.box_slide_conselho{
	padding-top: 30px !important;
}*/
.slick-center .box_slide_conselho {
    padding-top: 0;
}
.slick-center .box_slide_conselho img {
    height: 240px;
}
#sec_conselho_conselho_executivo {
    padding: 60px 0 0 0;
}
#sec_conselho_conselho_executivo .slick-next,
#sec_conselho_conselho_executivo .slick-prev {
    height: 100%;
    width: 40%;
    z-index: 9;
}
#sec_conselho_conselho_executivo .slick-next:before,
#sec_conselho_conselho_executivo .slick-prev:before {
    content: unset;
}
#sec_conselho_conselho_executivo h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #12316f;
}
#sec_conselho_conselho_executivo button:before {
    color: #12316f;
}
#sec_conselho_conselho_executivo button {
    z-index: 99999;
}

#sec_conselho_conselho_fiscal {
    padding: 60px 0 40px 0;
}
#sec_conselho_conselho_fiscal .slick-next,
#sec_conselho_conselho_fiscal .slick-prev {
    height: 100%;
    width: 40%;
    z-index: 999999;
}
#sec_conselho_conselho_fiscal .slick-next:before,
#sec_conselho_conselho_fiscal .slick-prev:before {
    content: unset;
}
#sec_conselho_conselho_fiscal button {
    z-index: 99999;
}

#sec_conselho_conselho_fiscal button:before {
    color: #12316f;
}

#sec_conselho_conselho_fiscal h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #12316f;
}
.pelicula {
    /*background: linear-gradient(to right, #FFFFFF,transparent, #FFFFFF);*/
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0;
}

.box_slide_conselho {
    padding: 10px;
    z-index: -1;
    opacity: 0.3;
}

.box_slide_conselho h3,
.box_slide_conselho p {
    display: none;
}

.slick-center .box_slide_conselho {
    opacity: unset !important;
}

.slick-center h3,
.slick-center p {
    display: block !important;
}

.box_slide_conselho h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #12316f;
}
.box_slide_conselho p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #12316f;
}
/* Geral archive 
----------------------------------------------------------------------------- */
.box_list_post {
    padding: 0;
    margin: 0;
}

.box_list_post_balancetes li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_list_post_balancetes hr {
    margin: 15px;
}

.box_list_post_balancetes p {
    margin-left: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #484848;
}

.box_list_post_balancetes a {
    left: 0 !important;
}

.box_list_post_balancetes h2 span {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #484848;
}

.box_list_post li {
    width: 100%;
}
.box_list_post li a {
    position: relative;
    left: 6%;
}
.box_list_post li a button {
    background: #1855b8;
    border: none;
    border-radius: 54px;
    padding: 5px 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}
.box_list_post li h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #1855b8;
    width: 80%;
}
.box_list_post li h2 span {
    color: #484848;
}

.box_list_post hr {
    height: 1px;
}
/* Convênios e Benefícios
----------------------------------------------------------------------------- */
#modal_convenio .modal-dialog {
    margin: 200px auto;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#modal_convenio .modal-body {
    padding: 40px 30px;
}
#modal_convenio button {
    margin: 0 15px 0 0;
    font-size: 40px;
    font-weight: 100;
}
#titulo_modal_convenio {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #12316f;
}
#conteudo_modal_convenio {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 121.5%;
    color: #12316e;
}
#sec_convenio_topo {
    padding: 250px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 20px;
}
#sec_convenio_topo h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 121.5%;
    color: #183f8c;
}
#sec_convenio_topo p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.5%;
    color: #000000;
}
#sec_convenio_convenios {
    padding: 50px 0 100px 0;
}
#sec_convenio_convenios h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #12316f;
    padding: 0 0 40px 0;
}
.box_convenio {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 5px;
    width: 180px;
    cursor: pointer;
}
.box_convenio:hover {
    background: #183f8c;
}
.box_convenio:hover img {
    filter: brightness(100);
}
.box_convenio h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 121.5%;
    color: #183f8c;
}
.box_convenio:hover h3 {
    color: #ffffff;
}
#sec_convenio_associado {
    padding: 50px 0 10px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 390px;
}
#sec_convenio_associado h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 121.5%;
    color: #ffffff;
    margin: 0;
}
#sec_convenio_associado p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.5%;
    color: #ffffff;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    padding: 30px 0;
    margin: 0;
}
#sec_convenio_associado a {
    border: none;
    background: #183f8c;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px 30px;
}
#sec_convenio_associado span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 121.5%;
    color: #ffffff;
}
/* Página Notícias
----------------------------------------------------------------------------- */
#carousel_noticias {
    height: 600px;
}
#carousel_noticias .box_info_noticia li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #183f8c;
    display: flex;
    height: 48px;
}

.box_conteudo_banner_noticias .box_titulo_topo h2{
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #183f8c;
   
}
.box_titulo_topo ul a{
    display: flex;
}
.box_titulo_topo .wpusb{
    margin-top: 10px;
}
.box_titulo_topo .wpusb-square-plus .wpusb-item{
    margin-right: 0;
}
.box_conteudo_banner_noticias .box_titulo_topo{
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-height: 100px;
    margin: 20px 0;

}
.box_titulo_topo .wpusb-square-plus .wpusb-total-share .wpusb-shares-count{
    font-size: 16px;
    color: #183f8c;
    font-weight: normal;
}
.box_titulo_topo i{
    margin-right: 5px;
    margin-top: 4px;
    color: #183f8c;

}
.box_conteudo_banner_noticias .box_titulo_topo .wpusb-square-plus .wpusb-total-share .wpusb-pipe{
    display: none;
    background-color: unset;
}
.box_titulo_topo .wpusb-square-plus .wpusb-total-share .wpusb-shares-text{
    display: none;
}

.box_banner_noticias {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.box_conteudo_banner_noticias {
    margin: -120px 0 0 0;
}
.box_conteudo_banner_noticias h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #183f8c;
}
.box_conteudo_banner_noticias span {
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 27px;
    color: #ffffff;
    background: #b3c200;
    padding: 5px 25px;
} 
#carousel_noticias .carousel-indicators {
    padding-top: 20px;
}
/*ultimas noticias*/
#sec_noticias_ultimas {
    padding: 50px 0;
}
#sec_noticias_ultimas h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #12316f;
    margin-left: 16px;
}
.box_slide_noticia {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    min-height: 485px;
    max-height: 485px;
    position: relative;
}
.box_tag_noticia {    
    position: absolute;
    top: 75px;
    background-color: #b3c200;
    z-index: 99999;
    width: 70px;
    left: 0;
}

.dia_tag_noticia {
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    color: #ffffff;
    margin: 0;
    text-align: center;
    margin-top: 5px;
}
.mes_tag_noticia {
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
    text-align: center;
}
.box_slide_noticia img {
    border-radius: 5px 5px 0 0;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
}
.box_cont_slide_noticia {
    padding: 0 5px;
}
.box_cont_slide_noticia h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #484848;
    overflow: hidden;
    height: 30px;
}

.box_cont_slide_noticia p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #484848;
    height: 224px;
}
.box_cont_slide_noticia h3,
.box_cont_slide_noticia p {
    padding: 0 5px;
}
#ultimasNoticias .slick-slide {
    margin: 0 2px;
}
#slider_cons_executivo button {
    display: none !important;
}
#slider_cons_fiscal button {
    display: none !important;
} /*
.slick-prev i,.slick-next i{
	color: #4B5A77;
	font-size: 25px;
}*/
.box_slider_noticias .slick-list {
    height: 500px !important;
    margin: 0 15px;
}
.box_slider_noticias span i {
    font-size: 40px;
    color: #4b5a77;
}

/*inscrever-se*/
#sec_noticias_increvase .box_texto_inscrever_se {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
}
.box_inscrever_se {
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#sec_noticias_increvase .wpcf7-submit {
    border: none;
    background: #0d4093;
    border-radius: 5px;
    padding: 5px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    cursor: pointer;
}
.box_inscrever_se {
    padding: 50px 30px;
}
#wpcf7-f146-o1 .wpcf7-email::placeholder {
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
}
#wpcf7-f146-o1 .wpcf7-email {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 100%;

    text-align: center;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
}
/*Noticias sec_noticias*/
#sec_noticias_noticias {
    padding: 50px 0;
}
#sec_noticias_noticias h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 66px;
    color: #12316f;
}
.box_title_search_noticias {
    padding: 0 0 100px 0;
}
.box_img_noticia img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.box_searchform_noticia i {
    color: #183f8c;
    font-size: 30px;
    margin: 0 5px 0 0;
}
#search_noticias {
    width: 100%;
}
#search_noticias input {
    border: 0;
    border-bottom: 0.5px solid #183f8c;
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
    color: #183f8c;
    width: 100%;
}
#search_noticias input::placeholder {
    font-style: italic;
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
    color: #183f8c;
}
/* Página Single Notícia
----------------------------------------------------------------------------- */
#sec_single_noticia_topo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#sec_single_noticia_topo h1 {
    padding: 100px 0;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #ffffff;
}

#sec_single_noticia_topo .botao-compartilhar {
    display: inline-flex;
}

#sec_single_noticia_topo .botao-compartilhar .wpusb {
    font-size: unset;
    margin-bottom: unset;
    margin-top: unset;
    margin-right: 10px;
}

#sec_single_noticia_topo .wpusb .wpusb-share svg {
    color: #fff;
}

.box_info_noticia {
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.box_info_noticia li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    margin: 0 10px;
    list-style: none;
}
#sec_single_noticia_conteudo {
    padding: 20px 0;
}
.single-post #sec_noticias_increvase,
.single-artigos #sec_noticias_increvase {
    margin: 0 0 40px 0;
}
/*#sec_single_noticias_increvase .box_texto_inscrever_se{
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 49px;
	color: #FFFFFF;
}*/
/*prev next*/
#sec_single_noticia_prev_next {
    padding: 40px 0;
}
#sec_single_noticia_prev_next a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #525252;
}
#sec_single_noticia_prev_next h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
#sec_single_noticia_prev_next p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
}
.box_prev {
    border-right: 1px solid #c4c4c4;
}
.box_topo_redes_sidebar {
    display: flex;
}
.box_topo_redes_sidebar div {
    height: 20px;
    width: 10px;
    background: #183f8c;
    border-radius: 10px;
    margin: 0 5px 0 0;
}
/*sidebar fale conosco*/
#box_sociais_sidebar {
    padding: 0 0 20px 0;
}
#box_sociais_sidebar h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    color: #000000;
    margin: 0;
    display: flex;
}
#box_sociais_sidebar p {
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 12px;
    color: #000000;
}
#box_sociais_sidebar ul {
    padding: 0;
    margin: 0;
    display: flex;
}
#box_sociais_sidebar ul li {
    list-style: none;
    padding: 40px 0px;
    text-align: center;
    margin: 0 10px 0 0;
    border-radius: 5px;
    width: 33.33%;
}
#box_sociais_sidebar ul li a i {
    color: #ffffff;
    font-size: 40px;
}

.box_noticia_sidebar {
    margin-bottom: 20px;
}
.sidebar_f {
    background-color: #3b5998;
}
.sidebar_i {
    background-color: #e1306c;
}
.sidebar_y {
    background-color: #c4302b;
}
/*sidebar ultimas noticias*/
.box_sidebar_noticia h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    color: #000000;
    display: flex;
}
.box_sidebar_noticia h3 div {
    height: 20px;
    width: 10px;
    background: #183f8c;
    border-radius: 10px;
    margin: 0 5px 0 0;
}
.box_noticia_sidebar img {
    width: 100%;
    height: auto;
}
.box_noticia_sidebar h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin: 0;
}
.box_noticia_sidebar ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.box_noticia_sidebar ul li {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #616161;
    margin-right: 10px;
}
.box_noticia_sidebar p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
}
/* Página Single Especial*/
#sec_single_especial_topo {
    padding: 500px 0 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nuvem-tags strong {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #525252;
    margin-right: 10px;
}

.nuvem-tags a {
    border: 0.5px solid #525252;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Avenir Next;
    font-style: italic;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 18px;
    color: #525252;
    padding: 2px 8px;
    margin: 0 3px;
}

#sec_single_especial_topo h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 87px;
    color: #ffffff;
}
#sec_single_especial_topo p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
}
#sec_single_especial_topo i {
    font-size: 40px;
    color: #ffffff;
}
#sec_single_especial_resumo {
    padding: 100px 0 0;
}
#sec_single_especial_resumo p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #444444;
}
.sec_single_especial_sessao {
    padding: 100px 0;
}
.box_sessao_img {
    border-bottom: 5px solid #183f8c;
    border-radius: 5px;
    width: 100%;
}
.box_sessao_img img {
    width: 100%;
}
.sec_single_especial_sessao h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 72px;
    text-align: center;
    padding: 0 20%;
    margin: 0;
}
.sec_single_especial_sessao hr {
    background: #183f8c;
    width: 10%;
    height: 5px;
    border-radius: 48px;
}
.sec_single_especial_sessao p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}
/* Fale Conosco
----------------------------------------------------------------------------- */
#sec_contato_topo {
    padding: 100px 0;
}
#sec_contato_topo h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
}
#sec_contato_topo p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 121.5%;
    color: #ffffff;
}
/*sec contato*/
#sec_contato {
    padding: 100px 0 40px;
}

#sec_contato iframe {
    width: 100%;
}
#sec_contato {
    text-align: center;
}
#sec_contato span input,
#sec_contato select,
#sec_contato textarea {
    border: none;
    background: #ededed;
    border-radius: 6px;
    padding: 5px 10px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 121.5%;
    color: #6c6c6c;
}
#sec_contato .wpcf7-submit {
    border: none;
    background: #183f8c;
    border-radius: 5px;
    padding: 5px 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 121.5%;
    color: #ffffff;
    cursor: pointer;
}
#sec_contato .enviar-copia {
    cursor: pointer;
    height: 5px;
    width: 5px;
 }
#sec_contato [type=checkbox]{
    width: 15px;
}
/* Página Associe-se à Anfip
----------------------------------------------------------------------------- */
#sec_associese_topo {
    padding: 100px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#sec_associese_topo h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #ffffff;
}
#sec_associese_form {
    padding: 60px 0 40px;
}
#sec_associese_form h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 121.5%;
    color: #171717;
}
#sec_associese_form h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 121.5%;
    color: #171717;
}
#sec_associese_form input {
    border: none;
    background: #ededed;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 0 0 20px 0;
    width: 100%;
    color: #6c6c6c;
}
#sec_associese_form input:placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 121.5%;
    color: #6c6c6c;
}
#sec_associese_form input[type="checkbox"] {
    width: unset;
    margin: 20px 0 0 0;
}

#sec_associese_form #dia {
    margin-right: 10px;
}
#sec_associese_form #meses {
    margin-right: 10px;
}

#sec_associese_form input[type="file"] {
    background: unset;
}
.vermelho {
    color: #d93d04 !important;
}
#sec_associese_form textarea {
    border: none;
    background: #ededed;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 0 0 20px 0;
    width: 100%;
    height: 150px;
}
#sec_associese_form select {
    border: none;
    background: #ededed;
    border-radius: 6px;
    padding: 5px 10px;
    margin: 0 0 20px 0;
    width: 100%;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 121.5%;
    color: #6c6c6c;
}
#sec_associese_form .wpcf7-submit {
    padding: 5px 40px;
    background: #183f8c;
    border-radius: 5px;
    width: unset;
    position: absolute;
    right: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 121.5%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
/* Footer
/---------------------------------------------------------------------------- */
footer {
    background-color: #1955b8;
    color: #ffffff;
}
#sec_footer_conteudo {
    padding: 40px 0;
}
#sec_footer_rodape {
    padding: 10px 0;
    background-color: #0d4093;
}

footer h3 {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
}
footer p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
}
.p-10 {
    padding: 0 5px;
}
.box_contato_footer {
    padding: 0;
    margin: 0;
}
.box_contato_footer li {
    list-style: none;
    font-size: 15px;
}
.box_contato_footer i {
    margin: 0 10px 0 0;
}
/*col 2*/
.box-menu-footer {
    padding: 0;
    margin: 0;
}
.box-menu-footer li {
    list-style: none;
}
.box-menu-footer li a {
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
#menu-radape-a {
    padding: 0;
    margin: 0;
}
#menu-radape-a li {
    list-style: none;
    padding: 10px 0;
}
#menu-radape-a li a {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
#menu-radape-b {
    padding: 0;
    margin: 0;
}
#menu-radape-b li {
    list-style: none;
    padding: 10px 0;
}
#menu-radape-b li a {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
/*col 3*/
.box_cont_post_footer h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
}

.box_post_footer img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.hr_post_footer {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Media Queries
/---------------------------------------------------------------------------- */

@media (min-width: 1600px){
    .box_login_menu_header {
        right: 0;
        position: absolute;

    }
}

/* Extra large devices (large desktops, 1200px and up) 
	Para todos as telas menores de Desktop */
@media (max-width: 1200px) {
    /* Página home
		---------------------------------------------------------------------------------------*/
    .box_banner {
        padding: 10px 0;
    }
    /*Noticias*/
    #sec_noticias {
        padding: 40px 0 0;
    }
    #sec_conv_benef h2,
    #sec_fotos h2 {
        font-size: 32px;
        text-align: center;
    }
}

@media (max-width: 1024px) {

    .btn_midia{
        left: 67px;
    }
    .logomarca{
        left: 0px;
    }
    .logomarca img{
        transform: scale(0.8);
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1024px) {

    .box_login_menu_header{
        right: -40px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
    /*Header*/

    .box-menu-header {
        display: unset;
        padding: unset;
    }
    .box-menu-header li {
        margin-right: unset;
        text-align: center;
    }
    

    .btn_login_header{
        background-color: #0D4093;
        margin-left: 10px;
    }
}

/* Small devices (landscape phones, 576px and up) 
	Para todos os mobiles */
@media (max-width: 768px) {
    /* CSS MOBILE DEVEM SER AJUSTADOS AQUI - Lembre-se de tirar os padding e margins que utilizou no Desktop */

    /*SlickSlider*/
    .box-arrow-slider {
        display: none;
    }


    /* =] */
    /* Header
		---------------------------------------------------------------------------------------*/

    .login_desktop{
        display: none;
    }
    .box_login_menu_header {
        width: 100%;
        position: relative;
        z-index: 10;
        top: 0;
        background-color: #ffffff;
        padding: 10px 10px 0 25px;
        border-bottom: 1px solid #0D4093; 
        margin-top: -10px;
    }

    .box_login_menu_header .um-col-alt-b{
        margin-bottom: 30px;
        margin-left: 133px;
    }

    .box_login_menu_header .um-right.um-half{
        margin-right: 7px;
    }

    .box_menu_header{
        width: 100%;
    }

    .btn_login_header{
        background-color: #0069d9;
        border-color: #0062cc;
    }

    .btn_header_menu .fa-search {
        color: #ffffff;
        margin: 20px 0 0;
    }
    .btn_header_menu {
        border: 0;
        margin-left: 23px;
    }
    .navbar-nav{
        margin-top: 21px;
    }
    .navbar img {
        width: 300px;
        margin-right: 238px;
    }
    .logomarca{
        margin-left: 80px;
        transform: scale(0.8);
    }
    .box_login {
        top: 50px;
        text-align: center;
        display: none;
    }
    .box_login input {
        width: 90%;
    }
    .box_social_header li {
        filter: brightness(100);
    }
    .box_menu_header {
        top: 55px;
    }

    .box_modal_login h2 {
        font-size: 35px;
    }

    #sec_convenio_topo {
        padding: 35px 0;
    }
    .carousel-indicators li{
        top: 25px;
    }
    
    .box_login_menu_header .um .um-form input[type=submit]{
        margin: 0 80px;
        display: block;
    }

    .box_login_menu_header .um-half{
        width: 100%;
        padding-bottom: 20px;
    }
}

/* Extra small devices (portrait phones, less than 576px) 
	Ajustes mais finos podem ser feitos aqui
	#ATENCAO# utilizar em caso de extrema necessidade */
@media (max-width: 576px) {
    /* Header
		----------------------------------------------------------------------------------------*/
    .bg_header{
        height: 58px;
    }

    .navbar img {
        width: 300px;
        margin-top: -40px;
        margin-left: 70px;
        transform: scale(0.7);

    }
    .navbar-nav{
        margin-top: 3px;
    }
    .logomarca{
        margin-left: 80px;
        margin-top: -56px;
        z-index: 99999999;
        height: 54px;
    }
    .btn_header_menu{
        margin-right: 10px;
    }
    .btn_associe_header, .btn_login_header {
        border: 0.5px solid #ffffff;
        margin: 10px 0;
    }

    #search {
        padding: 20px 0 0;
    }
    .box_menu_header ul {
        padding: 0 15px;
    }

    .box_login_menu_header{
        width: 100%;
        top: auto;
    }

    .box_login_menu_header .um-col-alt-b{
        margin-bottom: 30px;
        margin-left: 13px;
    }

    .box_login_menu_header .um-right.um-half{
        margin-right: 7px;
    }

    
    .box_login_menu_header a.um-link-alt{
        margin-left: 20px;
    }

@media (max-width: 320px){
    .navbar img{
        margin-left: 20px;
    }
}
    /* Página Ex presidentes
		----------------------------------------------------------------------------------------*/
    #sec_expresidentes_expresidentes table thead tr th {
        font-size: 24px;
        line-height: 20px;
    }
    #sec_expresidentes_expresidentes table tbody tr td {
        font-size: 18px;
    }
    /* Página Eternos colegas
		----------------------------------------------------------------------------------------*/
    #sec_colegas_colegas table tbody tr td {
        font-size: 12px;
    }
    /* Página notícias
		----------------------------------------------------------------------------------------*/
    .box_banner {
        padding: 10px 0;
    }
    #carousel_noticias {
        height: 300px;
    }
    .box_banner_noticias {
        height: 200px;
    }
    .box_title_search_noticias {
        padding: 0;
    }
    .box_img_noticia img {
        min-height: 200px;
    }
    /*increver-se*/
    #sec_noticias_increvase .wpcf7-submit {
        margin-top: 40px;
    }
    .slick-prev,
    .slick-next {
        display: none !important;
    }
    /* Single geral
		----------------------------------------------------------------------------------------*/
    .box_list_post li a button {
        padding: 5px 10px;
        font-size: 14px;
    }
    .box_list_post li h2 span {
        font-size: 18px;
    }
    .box_list_post li h2 {
        font-size: 18px;
        width: 70%;
    }
    /* Single noticias
		---------------------------------------------------------------------------------------*/
    /*topo*/
    .box_conteudo_banner_noticias h2 {
        font-size: 20px;
    }
    .box_titulo_topo .box_info_noticia li{
        font-size: 16px !important;
    }
    #carousel_noticias .box_info_noticia li {
        font-size: 10px;
    }
    .box_slide_noticia .box_tag_noticia {
        top: -390px;
    }
    /**/
    #sec_noticias_ultimas h2 {
        font-size: 30px;
    }
    #search_noticias {
        padding: 0 0 20px 0;
    }
    .box_cont_slide_noticia p {
        font-size: 14px;
    }
    /**/
    #sec_noticias_noticias h2 {
        font-size: 30px;
    }
    /* Footer
		---------------------------------------------------------------------------------------*/
    #sec_footer_rodape span {
        font-size: 18px;
    }
}
/* Max 425px and up) */
@media (max-width: 425px) {
    .box_menu_header {
        width: 100%;
    }

    #sec_associese_form .wpcf7-submit {
        right: 10px;
        margin-top: 10px;
    }

    #sec_eventos_eventos {
        text-align: center;
    }

    #sec_convenio_topo {
        background-size: auto;
    }

    #sec_convenio_convenios {
        padding: 0 0 100px;
    }

    #sec_contato {
        padding: 40px 0;
    }

    #sec_eventos_eventos h1 {
        margin-bottom: 20px;
    }

    #sec_convenio_convenios h2 {
        font-size: 30px;
    }

    #sec_convenio_topo h1 {
        font-size: 40px;
    }

    #sec_single_especial_topo {
        padding: 100px 0 50px;
    }

    #sec_single_especial_topo h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 110%;
        color: #fff;
    }
    .box_conteudo_banner_noticias .box_titulo_topo h2{
        font-size: 28px;
        line-height: 32px;
    }
    .box_titulo_topo .box_info_noticia{
        display: block;
    }
    .carousel-indicators li{
        top: 35px;
    }
    #carousel_noticias .box_info_noticia li{
        height: 30px;
    }
    .box_titulo_topo ul a{
        display: block;
    }
    #sec_noticias_ultimas{
        padding: 60px 0;
    }


}
/* Max 375px and up) */
@media (max-width: 375px) {
     .carousel-indicators li{
        top: 70px;
    }
    
}

/* Max 320px and up) */
@media (max-width: 320px) {
    .navbar img {
        margin-right: 20px;
    }

    .btn_header_menu{
        margin-left: 5px;
    }
   
}
